# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [87]:
# Line break
print("a", "b","c", "d", sep="\n")
# Tab stop
print("a", "b", "c","d", sep="\t")

a
b
c
d
a	b	c	d

2. Make a converter from dollars to euros. You'll have to use input.

In [8]:
# Pido una cantidad

dollar = float(input(print("introduce your quantity")))

eur = dollar * 0.84 # Equivalencia dólares-euros.

print("Your number is:", dollar, "dollars, which equals", eur, "euros")

introduce your quantity
Your number is: 32.6 dollars, which equals 27.384 euros

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [32]:
first_name = "Javier"
last_name = "Olcoz"
age = 23
frase = f'Me llamo {first_name} {last_name} y tengo {age} años'
print(frase)

Me llamo Javier Olcoz y tengo 23 años

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [14]:
list = [4, 7, -3]
maximo = max(list)
minimo = min(list)
suma = sum(list)
print(maximo, minimo, suma)

7 -3 8

5. Round `38.38276252728` to 5 decimal places.

In [15]:
x = 38.38276252728
round(x, 5)

38.38276

6. Make the phrase `"Born to be wild"` uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [18]:
x = "Born to be wild"
z = x.upper()
print(z)
y = x.lower()
print(y)
w = x.split()
print(w)
p = x.replace("wild", "Geek")
print(p)

BORN TO BE WILD
born to be wild
['Born', 'to', 'be', 'wild']
Born to be Geek

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [22]:
num1 = float(input())
num2 = float(input())
num1 == num2

False

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [5]:
age1 = int(input("Introduzca edad"))

if 5 <= age1 <= 15:
    print("Price = 5")
    
elif age1 >= 65:
    movie = input("Enter film")
    peliculas_discount = ["gladiator", "300"]  
    if (movie == "gladiator" or movie =="300"):
        print("Price = 4")
    else: 
        print("Normal price")
else: 
    print("Normal price")

Normal price

### Exercise 1 - For

If you find a way of solving any of these questions below without using for loop, don't hesitate to do it.

1. Prints the numbers between 0 and 70 that are multiples of 3 and 5.

In [34]:
for x in range(71):
    if (x % 3 == 0) and (x % 5 == 0):
        print(x)

0
15
30
45
60

2. Print the following pattern:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [85]:
lineas = 10
for i in range(lineas):
    for j in range(i):
        print(i, end="")  
    print(" ")

1
22
333
4444
55555
666666
7777777
88888888
999999999

3. Given to list of same lenght, create a third list which contains the sum of both of the list, element by element.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [1]:
a = [6, 9, 7]
b = [9, 3, 6]

for x, y in enumerate(a):
    for z, w in enumerate(b):
        if x == z:
            if x == 0:
                p1 = y + w
            elif x ==1:
                p2 = y + w
            else:
                p3 = y + w


new_list = [p1, p2, p3]

print("new_list = ", new_list)

new_list =  [15, 12, 13]

4. Get first, second best scores from the list.
List contains duplicates.

In [56]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]
n = 0
k = 0
for x in scores:
    if x <= n:
        continue
    else:
        n = x
    for y in scores:
        if y == n:
            continue
        elif y >= k:
            k = y

print(n, "is the biggets value")
print(k, "is the second biggest value")

86 is the biggets value
85 is the second biggest value

5. From the given list:
    
    a) Create separate lists of strings and numbers.

    b) Sort the strings' list in ascending order

    c) Sort the strings' list in descending order

    d) Sort the number's list from lowest to highest

    e) Sort the number's list from highest to lowest

In [103]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]
# Apartado a)

list_str = []
list_num = []

for x in gadgets:
    if type(x) == str:
        list_str.append(x)    

for x in gadgets:        
    if type(x) == int or type(x) == float:
        list_num.append(x)

print("Lista de tipos Str: ", list_str)
print("Lista de tipos Num: ", list_num)

# Apartado b)

list_str.sort()
print(list_str)

# Apartado c)

list_str.sort(reverse = True)
print(list_str)

# Apartado d)

list_num.sort()
print(list_num)

# Apartado e)

list_num.sort(reverse = True)
print(list_num)

Lista de tipos Str:  ['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
Lista de tipos Num:  [100, 310.28, 27.0, 1000]
['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
['Television', 'Speakers', 'Mobile', 'Laptop Case', 'Laptop', 'Camera Lens', 'Camera']
[27.0, 100, 310.28, 1000]
[1000, 310.28, 100, 27.0]

6. Make a list of ten aliens, each of which is one color: 'red', 'green', or 'blue'.
    - You can shorten this to 'r', 'g', and 'b' if you want, but if you choose this option you have to include a comment explaining what r, g, and b stand for.
    - Red aliens are worth 5 points, green aliens are worth 10 points, and blue aliens are worth 20 points.
    - Use a for loop to determine the number of points a player would earn for destroying all of the aliens in your list.

In [2]:
aliens = ["red", "blue", "blue", "green", "red", "red","green", "red", "blue", "red"]

acum = 0

for x in aliens:
    if x == "red":
        acum = acum + 5
    elif x == "green":
        acum = acum + 10
    else:
        acum = acum + 20

print(acum)

105

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [23]:
# defino la suma y el return
def sum_num(num_one, num_two):
    return num_one + num_two

sum_num(num_one = float(input()), num_two = float(input()))

8.2

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

In [2]:
sample_tuple = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")

def expected_output(sample_tuple):
    sample_tuple = list(sample_tuple)

    # El siguiente paso lo podría hacer también con un bucle

    x = sample_tuple[0] + sample_tuple[1] + sample_tuple[2] + sample_tuple[3] + sample_tuple[4] + sample_tuple[5] + sample_tuple [6] + sample_tuple[7] +sample_tuple[8] + sample_tuple[9] 

    print(x, type(x))

expected_output(sample_tuple)

THE BRIDGE <class 'str'>

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

In [52]:
# Genero la lista de núemros del 1 al 30.

numeros = [1]

for x in numeros:
    if x != 30:
        numeros.append(x + 1)
        
    else:
        break
print("Lista de números:",numeros, end="")
print("")


# Ahora genero la lista de cuadrados

cuadrados = []

for y in numeros:
    cuadrados.append(y ** 2)

print("Lista cuadrados:", cuadrados, end="")
print("")

# Genero la funcion 

def final_lista(cuadrados):

    print("5 primeros elementos:", cuadrados[0], cuadrados[1], cuadrados[2], cuadrados[3], cuadrados[4])
    print("5 últimos elementos:",  cuadrados[24], cuadrados[25],cuadrados[26],cuadrados[27], cuadrados[28], cuadrados[29])
    
final_lista(cuadrados)

Lista de números: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
Lista cuadrados: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
5 primeros elementos: 1 4 9 16 25
5 últimos elementos: 625 676 729 784 841 900

4. Create a Python program that calculates the factorial of a number.

The program will ask the user to enter a number (input) and will return the factorial of that number.

In [57]:
# Defino la función que haga el factorial.

def factorial(p):
    """Esta función nos devolverá el factorial del número que le metamos
    """
    acum = 1
    for x in range(1,p + 1):
        acum = x * acum
    return acum

factorial(p = int(input()))

24

5. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

In [64]:
def average():
    """ Función que calcula la media de los valores que queramos meter
    """
    average_numbers = [] # Lista vacía para empezar a trabajar

    n = int(input("Números va a tener la lista:")) # Introduzco de cuántos números se compondrá la lista
    print("Su lista tendrá", n, "números")

    for t in range(n): 
        average_numbers.append(float(input()))  # Creo la lista de números
    print("Su lista a promediar es:", average_numbers)

    c = sum(average_numbers)/n # Introduzco la expresión matemática para la media
    print("La media es:", c)
average()

Su lista tendrá 6 números
Su lista a promediar es: [5.0, 3.0, 5.0, 9.0, 6.0, 8.0]
La media es: 6.0

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)