# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [539]:
# Lista de clase
# Somos 18 y en la lista tengo 19, alguno habré repetido pero son los nombres que he sacado de los miembros de data-science en Slack.

student_list = ["Álex Balseiro", "Alfonso García", "Anais", "Antonio Leal", "Ariadna Puigventos", "Daniel del Valle", "Estela Falgas", "Javier Gil Antuñano", "Javier Olcoz", "Juan Guerrero", "Kapil Dadlani", "Leonardo Sánchez", "Ma Rguezvi", "María del Mar Delgado", "Marta", "Miguel", "Miguel Merry del Val", "Roberto Molleda", "Xeles"]

print(range(len(student_list)))
student_list

range(0, 19)

['Álex Balseiro',
 'Alfonso García',
 'Anais',
 'Antonio Leal',
 'Ariadna Puigventos',
 'Daniel del Valle',
 'Estela Falgas',
 'Javier Gil Antuñano',
 'Javier Olcoz',
 'Juan Guerrero',
 'Kapil Dadlani',
 'Leonardo Sánchez',
 'Ma Rguezvi',
 'María del Mar Delgado',
 'Marta',
 'Miguel',
 'Miguel Merry del Val',
 'Roberto Molleda',
 'Xeles']

In [540]:
# Como soy remoto no sé muy bien dónde se sienta cada uno así que haré 4 listas dividiendo a los 19 según creo que estén distribuidos en clase.

# Lista 1: primera inventada fila

primera_fila = ["Alfonso García", "Xeles", "Marta", "Juan Guerrero"]

# Lista 2: Segunda inventada fila

segunda_fila = ["Estela Falgas", "Ma Rguezvi", "Leonardo Sánchez", "Daniel del Valle"]

# Lista 3: Tercera inventada fila

tercera_fila = ["Miguel", "Miguel Merry del Val", "Roberto Molleda", "Kapil Dadlani", "Roberto Molleda"]

# Lista 4: Remotos

remotos = ["Javier Olcoz", "Ariadna Puidventos", "Anais", "Antonio Leal", "Alex Balseiro", " Javier Gil Antuñano"]

# Imprimimos todos por panatalla

print(primera_fila)
print(segunda_fila)
print(tercera_fila)
print(remotos)

['Alfonso García', 'Xeles', 'Marta', 'Juan Guerrero']
['Estela Falgas', 'Ma Rguezvi', 'Leonardo Sánchez', 'Daniel del Valle']
['Miguel', 'Miguel Merry del Val', 'Roberto Molleda', 'Kapil Dadlani', 'Roberto Molleda']
['Javier Olcoz', 'Ariadna Puidventos', 'Anais', 'Antonio Leal', 'Alex Balseiro', ' Javier Gil Antuñano']

In [541]:
# Creo que también se pida imprimir todas las listas juntas pero no he entendido si solo eran las 4 del apartado b o esas 4 más la del primer apartado, por lo que las imprimo ahora todas
print(range(len(student_list)))
print("1. student list: ", student_list)
print("2. primera lista: ", primera_fila)
print("3. segunda lista: ", segunda_fila)
print("4. tercera lista: ", tercera_fila)
print("5. remotos lista: ", remotos)

range(0, 19)
1. student list:  ['Álex Balseiro', 'Alfonso García', 'Anais', 'Antonio Leal', 'Ariadna Puigventos', 'Daniel del Valle', 'Estela Falgas', 'Javier Gil Antuñano', 'Javier Olcoz', 'Juan Guerrero', 'Kapil Dadlani', 'Leonardo Sánchez', 'Ma Rguezvi', 'María del Mar Delgado', 'Marta', 'Miguel', 'Miguel Merry del Val', 'Roberto Molleda', 'Xeles']
2. primera lista:  ['Alfonso García', 'Xeles', 'Marta', 'Juan Guerrero']
3. segunda lista:  ['Estela Falgas', 'Ma Rguezvi', 'Leonardo Sánchez', 'Daniel del Valle']
4. tercera lista:  ['Miguel', 'Miguel Merry del Val', 'Roberto Molleda', 'Kapil Dadlani', 'Roberto Molleda']
5. remotos lista:  ['Javier Olcoz', 'Ariadna Puidventos', 'Anais', 'Antonio Leal', 'Alex Balseiro', ' Javier Gil Antuñano']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [542]:
empty_list = []
print(empty_list)

[]

2. Create a list with 5 items, call it **my_list**

In [543]:
# Creo la lista con 5 item random que se me han ocurrido.
my_list = ["bolígrafo", "lapiz", "goma", "estuche", "cuaderno"]
my_list

['bolígrafo', 'lapiz', 'goma', 'estuche', 'cuaderno']

3. Find the length of **my_list**

In [544]:
# Longitud de my_list
print(len(my_list))

5

4. Get the first item, the middle item and the last item of **my_list**

In [545]:
# Crearé una nueva lista con dichos items a partir de la ya creada
other_list = [my_list[0], my_list[2], my_list[4]]
print(other_list)

['bolígrafo', 'goma', 'cuaderno']

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [546]:
# Declaro las variables pedidas

name = "Javier"
age = 23
height = 1.83
country = "Spain"
python_version = "3.8.3 the best version"
print(name, age, height, country, python_version)

Javier 23 1.83 Spain 3.8.3 the best version

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [547]:
# Creo la lista pedida con las variables anteriores

mixed_data_types = [name, age, height, country, python_version]
print(mixed_data_types)

['Javier', 23, 1.83, 'Spain', '3.8.3 the best version']

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [548]:
# Creo la lista con las compañías proporcionadas.

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [549]:
# Ya lo hice en el apartado anterior, así que copio y pego el comando pedido.

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [550]:
# Lo imprimo a través del comando len.

print(len(it_companies))

7

11. Print *Google*

In [551]:
# Para imprimir Google le pido que imprima el elemento que se encuentra en la posición 1 (contando desde 0) de la lista de compañias

print(it_companies[1])

Google

10. Print the first, middle and last company

In [552]:
# Hago exactamente lo mismo que en el apartado anterior pero con las posiciones pedidas.

print(it_companies[0], it_companies[3], it_companies[-1])

Facebook Apple Amazon

11. Assign a new value to the last element of the list

In [553]:
# Quito la empresa de Amazon y añado Chupachups.
it_companies.remove("Amazon")
print(it_companies)
it_companies.append("Chupachups")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Chupachups']

12. Print the list after modifying one of the companies

In [554]:
# Añado Pepsi y quito Microsoft modificacndo así el elemento que estaba en dicha posición.
print(it_companies)
it_companies.insert(2, "Pepsi")
print(it_companies)
it_companies.pop(3)
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Chupachups']
['Facebook', 'Google', 'Pepsi', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Chupachups']
['Facebook', 'Google', 'Pepsi', 'Apple', 'IBM', 'Oracle', 'Chupachups']

## Bonus track.

13. Add an IT company to **it_companies**

In [555]:
# Añado la compañía SAP
it_companies.append("SAP")
print(it_companies)

['Facebook', 'Google', 'Pepsi', 'Apple', 'IBM', 'Oracle', 'Chupachups', 'SAP']

14. Check if *Apple* exists in the **it_companies** list.

In [556]:
# Para ello uso el comando count() y vemos que si el número que devuelve es igual o mayor que 1, es que al menos hay 1 coincidencia en la lista y por lo tanto existe dicho elemento.
print(it_companies.count("Apple"))

1

15. Sort the list using `sort()` method

In [557]:
# Ordeno alfabéticamente la lista
print(it_companies.sort())
print(it_companies)

None
['Apple', 'Chupachups', 'Facebook', 'Google', 'IBM', 'Oracle', 'Pepsi', 'SAP']

16. Reverse the list in descending order using `reverse()` method

In [558]:

print(it_companies.reverse())
print(it_companies)

None
['SAP', 'Pepsi', 'Oracle', 'IBM', 'Google', 'Facebook', 'Chupachups', 'Apple']

17. Slice out the first 3 companies from the list

In [559]:
# Quito las tres primeras compañías de la lista
print(it_companies)
it_companies.pop(0)
it_companies.pop(0)
it_companies.pop(0)
print(it_companies)

['SAP', 'Pepsi', 'Oracle', 'IBM', 'Google', 'Facebook', 'Chupachups', 'Apple']
['IBM', 'Google', 'Facebook', 'Chupachups', 'Apple']

18. Remove the last IT company from the list

In [560]:
# Creo que la única compañía de IT que queda es IBM.
it_companies.remove("IBM")
print(it_companies)

['Google', 'Facebook', 'Chupachups', 'Apple']

19. Remove all IT companies from the list

In [561]:
# No queda ninguna pero por quitar algo, voy a considerar que Apple sea una IT también.
it_companies.remove("Apple")
print(it_companies)

['Google', 'Facebook', 'Chupachups']

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [562]:
# Declaro las listas ya creadas y luego las uno:

front_end = [["HTML", "CSS"],"JS", "React", "Redux"]
back_end = ["Node", "Express", "MongoDB"]

end = front_end + back_end
end

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [563]:
# Le mano que imprima el elemento en el que se encuentra HTML
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [564]:
# Le mano que imprima el elemento en el que se encuentra C
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [565]:
# Declaro la tupla pedida y luego la imprimo junto con su type para ratificar que es del tip tuple.
tup = ("T",)
print(tup)
print(type(tup))

('T',)
<class 'tuple'>

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [566]:
# Vaya, lo hice en el anterior así que copio y pego esa parte
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [567]:
# A priori no se podría dado que las tuplas son inmutables pero se me ocurre convertir dicha tupla en lista, añadir lo pedido y volver a convertirla en tupla. 

tup = list(tup)
tup.append("H")
tup.append("E")
tup.append(" ")
tup.append("B")
tup.append("R")
tup.append("I")
tup.append("D")
tup.append("G")
tup.append("E")
tup = tuple(tup)

tup

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [568]:
# Al igual que antes, la transformo en lista, reasigno valores y transformo en tupla
tup = list(tup)
tup.insert(0,"D")
tup.pop(1)
tup.insert(1, "I")
tup.pop(2)
tup.insert(2,"E")
tup.pop(3)
tup.insert(3, " ")
tup.pop(4)
tup.insert(4,"B")
tup.pop(5)
tup.insert(5, "R")
tup.pop(6)
tup.insert(6,"Ü")
tup.pop(7)
tup.insert(7, "C")
tup.pop(8)
tup.insert(8,"K")
tup.pop(9)
tup.insert(9, "E")
tup.pop(10)
tup = tuple(tup)

tup

('D', 'I', 'E', ' ', 'B', 'R', 'Ü', 'C', 'K', 'E')

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [572]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

# Uso el comando set para hacerlo
my_set = set(lista_repes)
print(my_set)

{'diomedes', 'science', 'gabriel', 'clara', 'python', 'data'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [573]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [574]:
my_set = list(my_set)
print(my_set[0])

diomedes

# ¡HECHO!