# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [2]:
dic = {5:"val"}
print(dic, type(dic))

{5: 'val'} <class 'dict'>

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [3]:
cities = ["Leon", "Madrid", "Valladolid", "Gijón"]
landmarks = ["catedral", "Recoletos 15", "La Antigua", "teatro Jovellanos"]
print(cities, landmarks, sep="\n")

['Leon', 'Madrid', 'Valladolid', 'Gijón']
['catedral', 'Recoletos 15', 'La Antigua', 'teatro Jovellanos']

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [4]:
places = {cities[0]:landmarks[0], cities[1]:landmarks[1], cities[2]:landmarks[2], cities[3]:landmarks[3]}
places

{'Leon': 'catedral',
 'Madrid': 'Recoletos 15',
 'Valladolid': 'La Antigua',
 'Gijón': 'teatro Jovellanos'}

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [19]:
for x,y in places.items():
    if x[0] == "M":
        print("key:", x, "valor: ", y)

key: Madrid valor:  Recoletos 15

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [6]:
def final_dic(list1,list2):
    
    places1 = {list1[0]:list2[0], list1[1]:list2[1], list1[2]:list2[2], list1[3]:list2[3]}
    
    return places1

final_dic(list1 = cities, list2 = landmarks)

{'Leon': 'catedral',
 'Madrid': 'Recoletos 15',
 'Valladolid': 'La Antigua',
 'Gijón': 'teatro Jovellanos'}

### Exercise 2.

1. Create an empty dictionary called dog.

In [7]:
dog = {}
dog

{}

2. Add name, color, breed, legs, age to the dog dictionary.

In [8]:
dog = {}
dog["name"] = "Whisky"
dog["color"] = "brown"
dog["breed"] = "pug"
dog["legs"] = 4
dog["age"] = 5

dog

{'name': 'Whisky', 'color': 'brown', 'breed': 'pug', 'legs': 4, 'age': 5}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [9]:
student_dictionary = {}
student_dictionary["first_name"] = "Javier"
student_dictionary["last_name"] = "Olcoz"
student_dictionary["age"] = 23
student_dictionary["skills"] = ["friendly", "kind"]
student_dictionary["country"] = "Spain"
student_dictionary["city"] = "León"
student_dictionary["address"] = ["Calle inventada", 12, "1D"]
print(student_dictionary)

{'first_name': 'Javier', 'last_name': 'Olcoz', 'age': 23, 'skills': ['friendly', 'kind'], 'country': 'Spain', 'city': 'León', 'address': ['Calle inventada', 12, '1D']}

4. Get the length of the student dictionary.

In [10]:
lenght = len(student_dictionary)
lenght

7

5. Get the value of skills and check the data type, it should be a list.

In [11]:
for pos, (key,value) in enumerate(student_dictionary.items()):
    if pos == 3:
        print(value)
        print(type(value))

['friendly', 'kind']
<class 'list'>

6. Modify the skills values by adding one or two skills.

In [12]:

student_dictionary["skills"].append("smart")
student_dictionary["skills"].append("patient")
print(student_dictionary)

{'first_name': 'Javier', 'last_name': 'Olcoz', 'age': 23, 'skills': ['friendly', 'kind', 'smart', 'patient'], 'country': 'Spain', 'city': 'León', 'address': ['Calle inventada', 12, '1D']}

7. Get the dictionary keys as a list.

In [13]:
claves = []
for key in student_dictionary.keys():
    claves.append(key)
print(claves, type(claves), sep="\n")

['first_name', 'last_name', 'age', 'skills', 'country', 'city', 'address']
<class 'list'>

8. Get the dictionary values as a list.

In [14]:
valores = []
for valuess in student_dictionary.values():
    valores.append(valuess)
print(valores, type(valores), sep="\n")

['Javier', 'Olcoz', 23, ['friendly', 'kind', 'smart', 'patient'], 'Spain', 'León', ['Calle inventada', 12, '1D']]
<class 'list'>

9. Change the dictionary to a list of tuples using `items()` method

In [15]:
dic_to_list = []

for x, y in student_dictionary.items():
    tuple12 = (x,y)
    dic_to_list.append(tuple12)

print(dic_to_list)

[('first_name', 'Javier'), ('last_name', 'Olcoz'), ('age', 23), ('skills', ['friendly', 'kind', 'smart', 'patient']), ('country', 'Spain'), ('city', 'León'), ('address', ['Calle inventada', 12, '1D'])]

10. Delete one of the items in the dictionary.

In [16]:
del student_dictionary["age"]
print(student_dictionary)

{'first_name': 'Javier', 'last_name': 'Olcoz', 'skills': ['friendly', 'kind', 'smart', 'patient'], 'country': 'Spain', 'city': 'León', 'address': ['Calle inventada', 12, '1D']}

### Bonus Track

**Tómate una cervecita o un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)